.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr 5fr);
  grid-template-rows: repeat(10, 60px);
  vertical-align: stretch;
}

#navbar {
  grid-column-start: 1;
  grid-column-end: 6;
}

#sidebar {
  writing-mode: vertical-rl;
  grid-row-start: 2;
  grid-row-end: 10;
}

#title {
 grid-column-start: 2;
 grid-column-end: 6;
}


#content {
  grid-area: auto;
}

#footer {
  grid-column-start: 1;
  grid-column-end: 6;
}